server/node-red/.genie-ui-flows.json.backup
[{"type":"tab","id":"64e5ed4f.9b1a14","label":"Sheet 2"},{"id":"6e5a5f7f.91a5a","type":"websocket-listener","z":"64e5ed4f.9b1a14","path":"/ws/node-red-to-loopback-service-channel","wholemsg":"false"},{"id":"d7c7177a.2838e8","type":"inject","z":"64e5ed4f.9b1a14","name":"Create Some Clustered Events","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":206,"y":399,"wires":[["1f6603df.e099fc"]]},{"id":"3bc0b9f9.c43f46","type":"http request","z":"64e5ed4f.9b1a14","name":"","method":"use","ret":"txt","url":"","x":754,"y":399,"wires":[["67dd645f.98229c"]]},{"id":"67dd645f.98229c","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":true,"console":"false","complete":"false","x":1015,"y":399,"wires":[]},{"id":"1f6603df.e099fc","type":"function","z":"64e5ed4f.9b1a14","name":"Create Clustered Events","func":"msg.method = 'GET';\nmsg.url = 'http://localhost:' + context.global.port + '/addSomeClusteredEvents';\nreturn msg;","outputs":1,"noerr":0,"x":506,"y":399,"wires":[["3bc0b9f9.c43f46","7e673f16.8198c"]]},{"id":"7e673f16.8198c","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":true,"console":"false","complete":"true","x":790,"y":521,"wires":[]},{"id":"7bd98fc2.84267","type":"inject","z":"64e5ed4f.9b1a14","name":"Cluster EventSource To Events","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":199,"y":614,"wires":[["4f2b0410.b0d4fc"]]},{"id":"aa0a96f2.55f568","type":"http request","z":"64e5ed4f.9b1a14","name":"","method":"use","ret":"txt","url":"","x":753,"y":672,"wires":[["ee5e5a5a.11a1a8"]]},{"id":"ee5e5a5a.11a1a8","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":true,"console":"false","complete":"false","x":1014,"y":672,"wires":[]},{"id":"4f2b0410.b0d4fc","type":"function","z":"64e5ed4f.9b1a14","name":"Clustered Event","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/clusterEventsEx';\nif(context.global.clusterZoomLevel === undefined){\n    context.global.clusterZoomLevel = 8;\n}\nvar newZoomLevel = 1 + (context.global.clusterZoomLevel++ % 18);\nmsg.payload = {\n    zoomLevel: newZoomLevel\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":505,"y":672,"wires":[["aa0a96f2.55f568","80edd88.f7f1228"]]},{"id":"80edd88.f7f1228","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":true,"console":"false","complete":"true","x":789,"y":794,"wires":[]}]