server/node-red/.genie-ui-flows.json.backup
[{"type":"tab","id":"64e5ed4f.9b1a14","label":"Sheet 2"},{"id":"6e5a5f7f.91a5a","type":"websocket-listener","z":"64e5ed4f.9b1a14","path":"/ws/node-red-to-loopback-service-channel","wholemsg":"false"},{"id":"d7c7177a.2838e8","type":"inject","z":"64e5ed4f.9b1a14","name":"Create Some Clustered Events","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":273,"y":372,"wires":[["1f6603df.e099fc"]]},{"id":"3bc0b9f9.c43f46","type":"http request","z":"64e5ed4f.9b1a14","name":"","method":"use","ret":"txt","url":"","x":821,"y":372,"wires":[["67dd645f.98229c"]]},{"id":"67dd645f.98229c","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":true,"console":"false","complete":"false","x":1082,"y":372,"wires":[]},{"id":"1f6603df.e099fc","type":"function","z":"64e5ed4f.9b1a14","name":"Create Clustered Events","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/addSomeClusteredEvents';\nreturn msg;","outputs":1,"noerr":0,"x":573,"y":372,"wires":[["3bc0b9f9.c43f46","7e673f16.8198c"]]},{"id":"7e673f16.8198c","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":false,"console":"false","complete":"true","x":857,"y":494,"wires":[]},{"id":"7bd98fc2.84267","type":"inject","z":"64e5ed4f.9b1a14","name":"Cluster EventSource To Events","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":266,"y":587,"wires":[["4f2b0410.b0d4fc"]]},{"id":"aa0a96f2.55f568","type":"http request","z":"64e5ed4f.9b1a14","name":"","method":"use","ret":"txt","url":"","x":820,"y":645,"wires":[["ee5e5a5a.11a1a8"]]},{"id":"ee5e5a5a.11a1a8","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":true,"console":"false","complete":"false","x":1081,"y":645,"wires":[]},{"id":"4f2b0410.b0d4fc","type":"function","z":"64e5ed4f.9b1a14","name":"Clustered Event","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/clusterEvents';\nif(context.global.clusterZoomLevel === undefined){\n    context.global.clusterZoomLevel = 8;\n}\nvar newZoomLevel = 1 + (context.global.clusterZoomLevel++ % 18);\nmsg.payload = {\n    zoomLevel: newZoomLevel\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":572,"y":645,"wires":[["aa0a96f2.55f568","80edd88.f7f1228"]]},{"id":"80edd88.f7f1228","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":false,"console":"false","complete":"true","x":856,"y":767,"wires":[]},{"id":"ef5ceb6c.10a318","type":"inject","z":"64e5ed4f.9b1a14","name":"Initialize ClusteredEventSource","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":305,"y":122,"wires":[["a15516a8.5eaae8"]]},{"id":"16f69674.e9096a","type":"http request","z":"64e5ed4f.9b1a14","name":"","method":"use","ret":"txt","url":"","x":853,"y":122,"wires":[["638e7a61.9c7184"]]},{"id":"638e7a61.9c7184","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":true,"console":"false","complete":"false","x":1114,"y":122,"wires":[]},{"id":"a15516a8.5eaae8","type":"function","z":"64e5ed4f.9b1a14","name":"Delete All ClusteredEventSource","func":"msg.method = 'GET';\nmsg.url = 'http://localhost:' + context.global.port + '/initializeClusteredEventSource';\nreturn msg;","outputs":1,"noerr":0,"x":605,"y":122,"wires":[["16f69674.e9096a"]]},{"id":"abe90ff1.5416f","type":"inject","z":"64e5ed4f.9b1a14","name":"Initialize ZoomLevel","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":305,"y":232,"wires":[["ab2f61a9.54d0a"]]},{"id":"c08026a1.3f7fd8","type":"http request","z":"64e5ed4f.9b1a14","name":"","method":"use","ret":"txt","url":"","x":853,"y":232,"wires":[["e64b7107.19b49"]]},{"id":"e64b7107.19b49","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":true,"console":"false","complete":"false","x":1114,"y":232,"wires":[]},{"id":"ab2f61a9.54d0a","type":"function","z":"64e5ed4f.9b1a14","name":"Delete All ZoomLevels","func":"msg.method = 'GET';\nmsg.url = 'http://localhost:' + context.global.port + '/initializeZoomLevel';\nreturn msg;","outputs":1,"noerr":0,"x":605,"y":232,"wires":[["c08026a1.3f7fd8"]]}]