server/node-red/clustering-driver.json
[{"type":"tab","id":"1613a2a0.e9ec5d","label":"Sheet 1"},{"id":"d72022bc.28dfe","type":"inject","z":"1613a2a0.e9ec5d","name":"Start Twitter Scrape","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":193,"y":129,"wires":[["c85800.ff37a8"]]},{"id":"35d25ad9.ca2da6","type":"http request","z":"1613a2a0.e9ec5d","name":"","method":"use","ret":"txt","url":"","x":848,"y":129,"wires":[["c76b6699.389498"]]},{"id":"c76b6699.389498","type":"debug","z":"1613a2a0.e9ec5d","name":"","active":true,"console":"false","complete":"false","x":1132,"y":130,"wires":[]},{"id":"c85800.ff37a8","type":"function","z":"1613a2a0.e9ec5d","name":"POST Buffer Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/startTwitterScrape';\nmsg.payload = {\n    onlyWithHashtags: true,\n    onlyWithLocation: true,\n    maxPlaceSizeMeters: 100,\n    boundingBox:{\n        latSouth: 30.25,\n        latNorth: 30.30,\n        lngWest: -97.77,\n        lngEast: -97.73\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":129,"wires":[["35d25ad9.ca2da6"]]},{"id":"cb1e9b2e.34e168","type":"inject","z":"1613a2a0.e9ec5d","name":"Cluster Scored Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":204,"y":803,"wires":[["c4e1d3b.f3b1e3"]]},{"id":"8929cdef.76d63","type":"http request","z":"1613a2a0.e9ec5d","name":"","method":"use","ret":"txt","url":"","x":859,"y":803,"wires":[["5d7f3e90.a280c"]]},{"id":"5d7f3e90.a280c","type":"debug","z":"1613a2a0.e9ec5d","name":"","active":true,"console":"false","complete":"false","x":1143,"y":804,"wires":[]},{"id":"c4e1d3b.f3b1e3","type":"function","z":"1613a2a0.e9ec5d","name":"POST Buffer Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/clusterScoredRecords';\nmsg.payload = {\n    startDate: '2016-01-03T03:04:00.000Z',\n    endDate: '2016-01-05T13:04:00.000Z',\n    clusteringWindowMinutes: 4 * 60,\n    minTweetsToCluster: 3,\n    minUniqueUsers: 5,\n    dbscanEpsilonMeters: 5000,\n    dbscanMinMembersInCluster: 4,\n    blackList: ['sackbut','job', 'jobs', 'hiring', 'careerarc']\n};\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":803,"wires":[["8929cdef.76d63"]]},{"id":"91faf268.6e051","type":"inject","z":"1613a2a0.e9ec5d","name":"Load Tweets from JSON files","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":260,"wires":[["d6b6b9ce.294948"]]},{"id":"42922615.bd6dd8","type":"http request","z":"1613a2a0.e9ec5d","name":"","method":"use","ret":"txt","url":"","x":835,"y":260,"wires":[["aee5f75b.511a08"]]},{"id":"aee5f75b.511a08","type":"debug","z":"1613a2a0.e9ec5d","name":"","active":true,"console":"false","complete":"false","x":1119,"y":261,"wires":[]},{"id":"d6b6b9ce.294948","type":"function","z":"1613a2a0.e9ec5d","name":"POST Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/loadTestTweetFiles';\nmsg.payload = {\n    foldersToSearch: '/home/jreeme/src/hashTagClustering/raw_tweet_data/real-json',\n    globExpression: '*12-12*.json'\n};\nreturn msg;","outputs":1,"noerr":0,"x":496,"y":260,"wires":[["42922615.bd6dd8"]]},{"id":"3651a106.c9ae5e","type":"inject","z":"1613a2a0.e9ec5d","name":"Process New Tweets","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":201,"y":742,"wires":[["7ba423c1.845bdc"]]},{"id":"b7e0d446.481f28","type":"http request","z":"1613a2a0.e9ec5d","name":"","method":"use","ret":"txt","url":"","x":856,"y":742,"wires":[["5131cb8b.aece34"]]},{"id":"5131cb8b.aece34","type":"debug","z":"1613a2a0.e9ec5d","name":"","active":true,"console":"false","complete":"false","x":1140,"y":743,"wires":[]},{"id":"7ba423c1.845bdc","type":"function","z":"1613a2a0.e9ec5d","name":"POST Buffer Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/processNewTweets';\nmsg.payload = {\n\n};\nreturn msg;","outputs":1,"noerr":0,"x":517,"y":742,"wires":[["b7e0d446.481f28"]]},{"id":"3dddc837.c22238","type":"inject","z":"1613a2a0.e9ec5d","name":"Test ReST Translate File","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":184,"y":382,"wires":[["b9256128.46daa"]]},{"id":"9adbb4ca.652448","type":"http request","z":"1613a2a0.e9ec5d","name":"","method":"use","ret":"txt","url":"","x":839,"y":382,"wires":[["c0563621.3fa9c8"]]},{"id":"c0563621.3fa9c8","type":"debug","z":"1613a2a0.e9ec5d","name":"","active":true,"console":"false","complete":"false","x":1123,"y":383,"wires":[]},{"id":"b9256128.46daa","type":"function","z":"1613a2a0.e9ec5d","name":"POST Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/_restTranslateFileToGeoTweet';\nmsg.payload = {\n    path: '/home/jreeme/src/hashTagClustering/raw_tweet_data/real-json/2015-12-12_23:22:03.137328.real.json'\n};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":382,"wires":[["9adbb4ca.652448"]]}]