server/node-red/clustering-driver.json
[{"type":"tab","id":"1613a2a0.e9ec5d","label":"Sheet 1"},{"id":"d72022bc.28dfe","type":"inject","z":"1613a2a0.e9ec5d","name":"Start Twitter Scrape","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":193,"y":129,"wires":[["c85800.ff37a8"]]},{"id":"35d25ad9.ca2da6","type":"http request","z":"1613a2a0.e9ec5d","name":"","method":"use","ret":"txt","url":"","x":848,"y":129,"wires":[["c76b6699.389498"]]},{"id":"c76b6699.389498","type":"debug","z":"1613a2a0.e9ec5d","name":"","active":true,"console":"false","complete":"false","x":1132,"y":130,"wires":[]},{"id":"c85800.ff37a8","type":"function","z":"1613a2a0.e9ec5d","name":"POST Buffer Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/TwitterHashtagClusterer/startTwitterScrape';\nmsg.payload = {\n    onlyWithHashtags: true,\n    onlyWithLocation: true,\n    maxPlaceSizeMeters: 100,\n    boundingBox:{\n        latSouth: 30.25,\n        latNorth: 30.30,\n        lngWest: -97.77,\n        lngEast: -97.73\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":129,"wires":[["35d25ad9.ca2da6"]]},{"id":"91faf268.6e051","type":"inject","z":"1613a2a0.e9ec5d","name":"Load Tweets from JSON files","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":260,"wires":[["d6b6b9ce.294948"]]},{"id":"42922615.bd6dd8","type":"http request","z":"1613a2a0.e9ec5d","name":"","method":"use","ret":"txt","url":"","x":835,"y":260,"wires":[["aee5f75b.511a08"]]},{"id":"aee5f75b.511a08","type":"debug","z":"1613a2a0.e9ec5d","name":"","active":true,"console":"false","complete":"false","x":1119,"y":261,"wires":[]},{"id":"d6b6b9ce.294948","type":"function","z":"1613a2a0.e9ec5d","name":"POST Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/TwitterHashtagClusterer/loadTestTweetFiles';\nmsg.payload = {\n    foldersToSearch: '/home/jreeme/src/hashTagClustering/raw_tweet_data/real-json',\n    globExpression: '*12-12_2*.json'\n};\nreturn msg;","outputs":1,"noerr":0,"x":496,"y":260,"wires":[["42922615.bd6dd8"]]},{"id":"3dddc837.c22238","type":"inject","z":"1613a2a0.e9ec5d","name":"Test ReST Translate File","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":166,"y":193,"wires":[["b9256128.46daa"]]},{"id":"9adbb4ca.652448","type":"http request","z":"1613a2a0.e9ec5d","name":"","method":"use","ret":"txt","url":"","x":821,"y":193,"wires":[["c0563621.3fa9c8"]]},{"id":"c0563621.3fa9c8","type":"debug","z":"1613a2a0.e9ec5d","name":"","active":true,"console":"false","complete":"false","x":1105,"y":194,"wires":[]},{"id":"b9256128.46daa","type":"function","z":"1613a2a0.e9ec5d","name":"POST Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/TwitterHashtagClusterer/translateFileToGeoTweet';\nmsg.payload = {\n    path: '/home/jreeme/src/hashTagClustering/raw_tweet_data/real-json/2015-12-12_23:22:03.137328.real.json'\n};\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":193,"wires":[["9adbb4ca.652448"]]},{"id":"c1ce6007.3e31a","type":"inject","z":"1613a2a0.e9ec5d","name":"Index GeoTweets by Hashtag","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":205,"y":392,"wires":[["10a1c0c9.ef5e3f"]]},{"id":"36a20857.c95df8","type":"http request","z":"1613a2a0.e9ec5d","name":"","method":"use","ret":"txt","url":"","x":860,"y":392,"wires":[["261b385d.d9e4c8"]]},{"id":"261b385d.d9e4c8","type":"debug","z":"1613a2a0.e9ec5d","name":"","active":true,"console":"false","complete":"false","x":1144,"y":393,"wires":[]},{"id":"10a1c0c9.ef5e3f","type":"function","z":"1613a2a0.e9ec5d","name":"POST Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/TwitterHashtagClusterer/indexGeoTweetsByHashtag';\nmsg.payload = {\n};\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":392,"wires":[["36a20857.c95df8"]]},{"id":"81ae9011.7e517","type":"inject","z":"1613a2a0.e9ec5d","name":"Cluster Hashtags","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":188,"y":485,"wires":[["ef368023.10c98"]]},{"id":"748e6199.8b71a","type":"http request","z":"1613a2a0.e9ec5d","name":"","method":"use","ret":"txt","url":"","x":843,"y":485,"wires":[["e3e3b2c6.1c1c5"]]},{"id":"e3e3b2c6.1c1c5","type":"debug","z":"1613a2a0.e9ec5d","name":"","active":true,"console":"false","complete":"false","x":1127,"y":486,"wires":[]},{"id":"ef368023.10c98","type":"function","z":"1613a2a0.e9ec5d","name":"POST Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/TwitterHashtagClusterer/clusterHashtags';\nmsg.payload = {\n    minTweetCount: 80,\n    minUniqueUsers: 5,\n    dbscanTimeEpsilonMinutes: 140,\n    dbscanTimeMinMembersInCluster: 5,\n    dbscanGeoEpsilonMeters: 1000,\n    dbscanGeoMinMembersInCluster: 5\n};\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":485,"wires":[["748e6199.8b71a"]]}]