server/node-red/clustering-driver.json
[{"type":"tab","id":"1613a2a0.e9ec5d","label":"Sheet 1"},{"id":"d72022bc.28dfe","type":"inject","z":"1613a2a0.e9ec5d","name":"Start Twitter Scrape","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":193,"y":129,"wires":[["c85800.ff37a8"]]},{"id":"35d25ad9.ca2da6","type":"http request","z":"1613a2a0.e9ec5d","name":"","method":"use","ret":"txt","url":"","x":848,"y":129,"wires":[["c76b6699.389498"]]},{"id":"c76b6699.389498","type":"debug","z":"1613a2a0.e9ec5d","name":"","active":true,"console":"false","complete":"false","x":1132,"y":130,"wires":[]},{"id":"c85800.ff37a8","type":"function","z":"1613a2a0.e9ec5d","name":"POST Buffer Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/startTwitterScrape';\nmsg.payload = {\n    onlyWithHashtags: true,\n    onlyWithLocation: true,\n    maxPlaceSizeMeters: 100,\n    boundingBox:{\n        latSouth: 30.25,\n        latNorth: 30.30,\n        lngWest: -97.77,\n        lngEast: -97.73\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":129,"wires":[["35d25ad9.ca2da6"]]},{"id":"cb1e9b2e.34e168","type":"inject","z":"1613a2a0.e9ec5d","name":"Cluster Scored Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":189,"y":259,"wires":[["c4e1d3b.f3b1e3"]]},{"id":"8929cdef.76d63","type":"http request","z":"1613a2a0.e9ec5d","name":"","method":"use","ret":"txt","url":"","x":844,"y":259,"wires":[["5d7f3e90.a280c"]]},{"id":"5d7f3e90.a280c","type":"debug","z":"1613a2a0.e9ec5d","name":"","active":true,"console":"false","complete":"false","x":1128,"y":260,"wires":[]},{"id":"c4e1d3b.f3b1e3","type":"function","z":"1613a2a0.e9ec5d","name":"POST Buffer Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/clusterScoredRecords';\nmsg.payload = {\n    startDate: '2016-01-03T03:04:00.000Z',\n    endDate: '2016-01-05T13:04:00.000Z',\n    clusteringDurationMinutes: 4 * 60,\n    minTweetsToCluster: 5,\n    dbscanEpsilonMeters: 5000,\n    dbscanMinMembersInCluster: 4,\n    blackList: ['sackbut','job', 'jobs', 'hiring', 'careerarc']\n};\nreturn msg;","outputs":1,"noerr":0,"x":505,"y":259,"wires":[["8929cdef.76d63"]]}]