server/node-red/genie-ui-flows.json
[{"type":"tab","id":"d6376c6a.29c89","label":"Sheet 1"},{"id":"2d031b05.d2fce4","type":"websocket-listener","z":"d6376c6a.29c89","path":"/ws/time-service","wholemsg":"false"},{"id":"dcaabc8b.23554","type":"inject","z":"d6376c6a.29c89","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":297,"y":160,"wires":[["6831e2b9.97ce1c","30aafb5f.cf5504"]]},{"id":"6831e2b9.97ce1c","type":"function","z":"d6376c6a.29c89","name":"","func":"var ticks = msg.payload;\nvar date = new Date(ticks);\nmsg.payload = {event: 'tick', data:{ ticks:ticks,\nhumanReadable: date.toString()}};\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":159,"wires":[["67c3783c.983c88","a1c4506e.5e3bb"]]},{"id":"67c3783c.983c88","type":"websocket out","z":"d6376c6a.29c89","name":"","server":"2d031b05.d2fce4","client":"","x":886,"y":160,"wires":[]},{"id":"a1c4506e.5e3bb","type":"debug","z":"d6376c6a.29c89","name":"","active":true,"console":"false","complete":"false","x":889,"y":306,"wires":[]},{"id":"30aafb5f.cf5504","type":"debug","z":"d6376c6a.29c89","name":"","active":true,"console":"false","complete":"false","x":545,"y":354,"wires":[]}]