server/node-red/genie-ui-flows.json
[{"type":"tab","id":"64e5ed4f.9b1a14","label":"Clustering Flows"},{"type":"tab","id":"67a01734.985fe8","label":"UI Flows"},{"id":"6e5a5f7f.91a5a","type":"websocket-listener","z":"64e5ed4f.9b1a14","path":"/ws/node-red-to-loopback-service-channel","wholemsg":"false"},{"id":"d7c7177a.2838e8","type":"inject","z":"64e5ed4f.9b1a14","name":"Create Some Clustered Events","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":273,"y":372,"wires":[["1f6603df.e099fc"]]},{"id":"3bc0b9f9.c43f46","type":"http request","z":"64e5ed4f.9b1a14","name":"","method":"use","ret":"txt","url":"","x":821,"y":372,"wires":[["67dd645f.98229c"]]},{"id":"67dd645f.98229c","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":true,"console":"false","complete":"false","x":1082,"y":372,"wires":[]},{"id":"1f6603df.e099fc","type":"function","z":"64e5ed4f.9b1a14","name":"Create Clustered Events","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/addSomeClusteredEvents';\nreturn msg;","outputs":1,"noerr":0,"x":573,"y":372,"wires":[["3bc0b9f9.c43f46","7e673f16.8198c"]]},{"id":"7e673f16.8198c","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":false,"console":"false","complete":"true","x":857,"y":494,"wires":[]},{"id":"7bd98fc2.84267","type":"inject","z":"64e5ed4f.9b1a14","name":"Cluster EventSource To Events","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":266,"y":587,"wires":[["4f2b0410.b0d4fc"]]},{"id":"aa0a96f2.55f568","type":"http request","z":"64e5ed4f.9b1a14","name":"","method":"use","ret":"txt","url":"","x":820,"y":645,"wires":[["ee5e5a5a.11a1a8"]]},{"id":"ee5e5a5a.11a1a8","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":true,"console":"false","complete":"false","x":1081,"y":645,"wires":[]},{"id":"4f2b0410.b0d4fc","type":"function","z":"64e5ed4f.9b1a14","name":"Clustered Event","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/clusterEvents';\nif(context.global.clusterZoomLevel === undefined){\n    context.global.clusterZoomLevel = 8;\n}\nvar newZoomLevel = 1 + (context.global.clusterZoomLevel++ % 18);\nmsg.payload = {\n    zoomLevel: newZoomLevel\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":572,"y":645,"wires":[["aa0a96f2.55f568","80edd88.f7f1228"]]},{"id":"80edd88.f7f1228","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":false,"console":"false","complete":"true","x":856,"y":767,"wires":[]},{"id":"ef5ceb6c.10a318","type":"inject","z":"64e5ed4f.9b1a14","name":"Initialize ClusteredEventSource","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":305,"y":122,"wires":[["a15516a8.5eaae8"]]},{"id":"16f69674.e9096a","type":"http request","z":"64e5ed4f.9b1a14","name":"","method":"use","ret":"txt","url":"","x":853,"y":122,"wires":[["638e7a61.9c7184"]]},{"id":"638e7a61.9c7184","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":true,"console":"false","complete":"false","x":1114,"y":122,"wires":[]},{"id":"a15516a8.5eaae8","type":"function","z":"64e5ed4f.9b1a14","name":"Delete All ClusteredEventSource","func":"msg.method = 'GET';\nmsg.url = 'http://localhost:' + context.global.port + '/initializeClusteredEventSource';\nreturn msg;","outputs":1,"noerr":0,"x":605,"y":122,"wires":[["16f69674.e9096a"]]},{"id":"abe90ff1.5416f","type":"inject","z":"64e5ed4f.9b1a14","name":"Initialize ZoomLevel","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":305,"y":232,"wires":[["ab2f61a9.54d0a"]]},{"id":"c08026a1.3f7fd8","type":"http request","z":"64e5ed4f.9b1a14","name":"","method":"use","ret":"txt","url":"","x":853,"y":232,"wires":[["e64b7107.19b49"]]},{"id":"e64b7107.19b49","type":"debug","z":"64e5ed4f.9b1a14","name":"","active":true,"console":"false","complete":"false","x":1114,"y":232,"wires":[]},{"id":"ab2f61a9.54d0a","type":"function","z":"64e5ed4f.9b1a14","name":"Delete All ZoomLevels","func":"msg.method = 'GET';\nmsg.url = 'http://localhost:' + context.global.port + '/initializeZoomLevel';\nreturn msg;","outputs":1,"noerr":0,"x":605,"y":232,"wires":[["c08026a1.3f7fd8"]]},{"id":"4e802cf1.b17fd4","type":"inject","z":"67a01734.985fe8","name":"Inject mock source  file","topic":"","payload":"mock-sources.json","payloadType":"string","repeat":"","crontab":"","once":false,"x":155.97780990600586,"y":206.75554275512695,"wires":[["d7820bf0.287df8"]]},{"id":"d7820bf0.287df8","type":"function","z":"67a01734.985fe8","name":"Provide import path","func":"msg.filename = context.global.importDir + '/' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":404.75558853149414,"y":205.8666534423828,"wires":[["3b74feca.c48b02","fcf79bd7.030868"]]},{"id":"3b74feca.c48b02","type":"file in","z":"67a01734.985fe8","name":"Read bulk import file","filename":"","format":"utf8","x":669.8667144775391,"y":207.08889198303223,"wires":[["7f222795.80ddd8","fcf79bd7.030868"]]},{"id":"7f222795.80ddd8","type":"http request","z":"67a01734.985fe8","name":"Bulk import to ES","method":"POST","ret":"obj","url":"http://localhost:9200/genie/post/_bulk","x":929.4222068786621,"y":209.422212600708,"wires":[[]]},{"id":"fcf79bd7.030868","type":"debug","z":"67a01734.985fe8","name":"","active":true,"console":"false","complete":"true","x":878.9776725769043,"y":310.1999759674072,"wires":[]},{"id":"5f1bf183.a0e41","type":"inject","z":"67a01734.985fe8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121.33336936102972,"y":100.2222162882487,"wires":[["853216a3.7acde8"]]},{"id":"853216a3.7acde8","type":"http request","z":"67a01734.985fe8","name":"Delete ES index","method":"DELETE","ret":"obj","url":"http://localhost:9200/genie/","x":351.3333625793457,"y":101.33332061767578,"wires":[["1a68118.fe597ee"]]},{"id":"1a68118.fe597ee","type":"debug","z":"67a01734.985fe8","name":"","active":true,"console":"false","complete":"true","x":589.1111335754395,"y":100.22222518920898,"wires":[]},{"id":"3df97f9d.c2068","type":"comment","z":"67a01734.985fe8","name":"README","info":"## Description\n\nWhen developing the UI, it's convenient to work with small data sets.\nThese flows help prepare the dev environment.","x":63.55555725097656,"y":23.555551528930664,"wires":[]},{"id":"b772f037.488d1","type":"comment","z":"64e5ed4f.9b1a14","name":"README","info":"## Description\n\nWhen developing clusters for the UI, it's helpful to use data sets of arbitrary\nwhether small or large.","x":83.55554962158203,"y":32.44443893432617,"wires":[]}]