server/node-red/zoom-clustering.json
[{"type":"tab","id":"2802de5e.d7fd22","label":"Sheet 1"},{"id":"ce4a5be1.31b5a8","type":"inject","z":"2802de5e.d7fd22","name":"Get Events For Clusterer Input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":277,"y":350,"wires":[["2c8da7b2.d37258"]]},{"id":"eacdbcb9.15324","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":225,"y":520,"wires":[["14eab7cf.eb1548","a3d2bcea.5c2d4"]]},{"id":"2c8da7b2.d37258","type":"function","z":"2802de5e.d7fd22","name":"Get Events","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/getEventsForClustererInput';\nmsg.payload = {\n    modelNames: ['HashtagEventsSource'],\n    endDate: '2015-08-19T09:40:00.000Z',\n    intervalDurationMinutes: 2\n};\nreturn msg;","outputs":1,"noerr":0,"x":225,"y":445,"wires":[["eacdbcb9.15324"]]},{"id":"d31321a7.2cece","type":"inject","z":"2802de5e.d7fd22","name":"Create Fake Events","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":282,"y":224,"wires":[["f9e0e942.061f18"]]},{"id":"1889e69a.e77619","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":830,"y":224,"wires":[["3af04825.c50fb8"]]},{"id":"3af04825.c50fb8","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"false","x":1091,"y":224,"wires":[]},{"id":"f9e0e942.061f18","type":"function","z":"2802de5e.d7fd22","name":"Create Fake Events","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/createFakeEvents';\nmsg.payload = {\n    modelName: 'HashtagEventsSource',\n    minPostDate: '2015-08-19T09:30:00.000Z',\n    maxPostDate: '2015-08-19T09:45:00.000Z',\n    clusterCountMin: 3,\n    clusterCountMax: 5,\n    type: 'hashtag'\n};\nreturn msg;","outputs":1,"noerr":0,"x":582,"y":224,"wires":[["1889e69a.e77619"]]},{"id":"14eab7cf.eb1548","type":"function","z":"2802de5e.d7fd22","name":"Cluster Events","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/clusterEvents';\nmsg.payload = JSON.parse(msg.payload);\nmsg.payload.zoomLevel = 3;\nmsg.payload.clusterCount = 2;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":594,"wires":[["677d5386.9882ac"]]},{"id":"1121266.feededa","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"true","complete":"payload","x":557,"y":681,"wires":[]},{"id":"677d5386.9882ac","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":226,"y":683,"wires":[["1121266.feededa","df4a987f.20b568"]]},{"id":"a3d2bcea.5c2d4","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"false","x":562,"y":517,"wires":[]},{"id":"df4a987f.20b568","type":"function","z":"2802de5e.d7fd22","name":"Update Zoom Level","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/updateZoomLevel';\nmsg.payload = JSON.parse(msg.payload);\n//msg.payload.zoomLevel = 3;\n//msg.payload.clusterCount = 2;\nreturn msg;","outputs":1,"noerr":0,"x":227,"y":778,"wires":[["5add66a8.a52298"]]},{"id":"5add66a8.a52298","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":213,"y":867,"wires":[["b664f0ee.499b1"]]},{"id":"b664f0ee.499b1","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"false","x":582,"y":864,"wires":[]}]