server/node-red/zoom-clustering.json
[{"type":"tab","id":"2802de5e.d7fd22","label":"Zoom levels"},{"type":"tab","id":"f0a3c2ce.0f5c4","label":"Hashtag clustering"},{"type":"tab","id":"682ad7db.97d528","label":"ETL"},{"id":"ce4a5be1.31b5a8","type":"inject","z":"2802de5e.d7fd22","name":"Get Events For Clusterer Input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":277,"y":350,"wires":[["2c8da7b2.d37258"]]},{"id":"eacdbcb9.15324","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":225,"y":520,"wires":[["a3d2bcea.5c2d4","14eab7cf.eb1548"]]},{"id":"2c8da7b2.d37258","type":"function","z":"2802de5e.d7fd22","name":"Get Events","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ZoomLevelEventClusterer/getEventsForClustererInput';\nmsg.payload = {\n    modelNames: ['HashtagEventsSource','SandboxEventsSource'],\n    endDate: '2015-08-19T09:40:00.000Z',\n    intervalDurationMinutes: 2,\n    intervalsAgo: 1\n};\nreturn msg;","outputs":1,"noerr":0,"x":225,"y":445,"wires":[["eacdbcb9.15324"]]},{"id":"d31321a7.2cece","type":"inject","z":"2802de5e.d7fd22","name":"Create Fake Events","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":214,"y":223,"wires":[["f9e0e942.061f18"]]},{"id":"1889e69a.e77619","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":775,"y":223,"wires":[["3af04825.c50fb8"]]},{"id":"3af04825.c50fb8","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"payload","x":982,"y":224,"wires":[]},{"id":"f9e0e942.061f18","type":"function","z":"2802de5e.d7fd22","name":"Create Fake Events","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ZoomLevelEventClusterer/createFakeEvents';\nmsg.payload = {\n    randomGeneratorSeed: 0xfecefece,\n    modelNames: ['HashtagEventsSource','SandboxEventsSource'],\n    sandboxEventSourceFile: '../../import/sandbox/exampleSandboxEventSource.json',\n    eventSources: ['hashtag','instagram'],\n    minPostDate: '2015-08-19T09:30:00.000Z',\n    maxPostDate: '2015-08-19T09:45:00.000Z',\n    eventCountMin: 100,\n    eventCountMax: 200\n};\nreturn msg;","outputs":1,"noerr":0,"x":496,"y":223,"wires":[["1889e69a.e77619"]]},{"id":"14eab7cf.eb1548","type":"function","z":"2802de5e.d7fd22","name":"Cluster Events","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ZoomLevelEventClusterer/clusterEvents';\nmsg.payload = JSON.parse(msg.payload);\nmsg.payload.zoomLevel = 3;\nmsg.payload.clusterCount = 2;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":603,"wires":[["677d5386.9882ac"]]},{"id":"1121266.feededa","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"payload","x":557,"y":681,"wires":[]},{"id":"677d5386.9882ac","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":226,"y":683,"wires":[["1121266.feededa","df4a987f.20b568"]]},{"id":"a3d2bcea.5c2d4","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"payload","x":562,"y":517,"wires":[]},{"id":"df4a987f.20b568","type":"function","z":"2802de5e.d7fd22","name":"Update Zoom Level","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ZoomLevelEventClusterer/updateZoomLevel';\nmsg.payload = JSON.parse(msg.payload);\n//msg.payload.zoomLevel = 3;\n//msg.payload.clusterCount = 2;\nreturn msg;","outputs":1,"noerr":0,"x":227,"y":778,"wires":[["5add66a8.a52298"]]},{"id":"5add66a8.a52298","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":213,"y":867,"wires":[["b664f0ee.499b1"]]},{"id":"b664f0ee.499b1","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"true","complete":"payload","x":582,"y":864,"wires":[]},{"id":"cdc015f5.323fe8","type":"inject","z":"2802de5e.d7fd22","name":"Generate Development Data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":211,"y":95,"wires":[["7fe3d649.801c28"]]},{"id":"6fbba04e.90446","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":772,"y":95,"wires":[["14272534.ebd8db"]]},{"id":"14272534.ebd8db","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"false","x":979,"y":96,"wires":[]},{"id":"7fe3d649.801c28","type":"function","z":"2802de5e.d7fd22","name":"Generate Development Data","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ZoomLevelEventClusterer/generateDevelopmentData';\nmsg.payload = {\n    randomGeneratorSeed: 0xfecefece,\n    minPostDate: '2015-08-19T09:20:00.000Z',\n    maxPostDate: '2015-08-19T09:45:00.000Z',\n    eventCountMin: 100,\n    eventCountMax: 200,\n    modelNames: ['HashtagEventsSource','SandboxEventsSource'],\n    eventSources: ['hashtag','instagram'],\n    //\n\n    endDate: '2015-08-19T09:40:00.000Z',\n    intervalDurationMinutes: 2,\n    totalIntervals: 5,\n    //\n    zoomLevelClusterCounts:[4,8,12,16,20]\n};\nreturn msg;","outputs":1,"noerr":0,"x":493,"y":95,"wires":[["6fbba04e.90446"]]},{"id":"73fc27a3.8c03d8","type":"inject","z":"2802de5e.d7fd22","name":"Create Zoom Levels","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":214,"y":158,"wires":[["82776fb.f7d889"]]},{"id":"a72f33c1.58d0d","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":775,"y":158,"wires":[["fe7f48d7.0180b8"]]},{"id":"fe7f48d7.0180b8","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"false","x":982,"y":159,"wires":[]},{"id":"82776fb.f7d889","type":"function","z":"2802de5e.d7fd22","name":"Create Zoom Levels","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ZoomLevelEventClusterer/createZoomLevels';\nmsg.payload = {\n    modelNames: ['HashtagEventsSource', 'SandboxEventsSource'],\n    endDate: '2016-03-15T00:00:00.000Z',\n    intervalDurationMinutes: 1440,\n    totalIntervals: 45,\n    zoomLevelClusterCounts:[4,4,4,4,4,4,4,4,4,4,4,4,8,8,8,8,10,10,10,10]\n    //\n    //zoomLevelClusterCounts:[4,8,12,16,20]\n};\nreturn msg;","outputs":1,"noerr":0,"x":496,"y":158,"wires":[["a72f33c1.58d0d"]]},{"id":"10747388.ef8b8c","type":"inject","z":"f0a3c2ce.0f5c4","name":"Start Twitter Scrape","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":192.1999969482422,"y":80,"wires":[["bc1ed5ae.43e128"]]},{"id":"8d5317e.f72ace8","type":"http request","z":"f0a3c2ce.0f5c4","name":"","method":"use","ret":"txt","url":"","x":847.1999969482422,"y":80,"wires":[["16daa0cc.e9255f"]]},{"id":"16daa0cc.e9255f","type":"debug","z":"f0a3c2ce.0f5c4","name":"","active":true,"console":"false","complete":"false","x":1131.1999969482422,"y":81,"wires":[]},{"id":"bc1ed5ae.43e128","type":"function","z":"f0a3c2ce.0f5c4","name":"POST Buffer Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/TwitterHashtagClusterer/startTwitterScrape';\nmsg.payload = {\n    onlyWithHashtags: true,\n    onlyWithLocation: true,\n    maxPlaceSizeMeters: 100,\n    boundingBox:{\n        latSouth: 30.25,\n        latNorth: 30.30,\n        lngWest: -97.77,\n        lngEast: -97.73\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":508.1999969482422,"y":80,"wires":[["8d5317e.f72ace8"]]},{"id":"a40010c4.5bfff","type":"inject","z":"f0a3c2ce.0f5c4","name":"Load Tweets from JSON files","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":179.1999969482422,"y":211,"wires":[["410fe553.bef01c"]]},{"id":"bfbc84ce.404378","type":"http request","z":"f0a3c2ce.0f5c4","name":"","method":"use","ret":"txt","url":"","x":834.1999969482422,"y":211,"wires":[["4f18b653.b0e748"]]},{"id":"4f18b653.b0e748","type":"debug","z":"f0a3c2ce.0f5c4","name":"","active":true,"console":"false","complete":"false","x":1118.1999969482422,"y":212,"wires":[]},{"id":"410fe553.bef01c","type":"function","z":"f0a3c2ce.0f5c4","name":"POST Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/TwitterHashtagClusterer/loadTestTweetFiles';\nmsg.payload = {\n    foldersToSearch: '/home/jreeme/src/hashTagClustering/raw_tweet_data/real-json',\n    globExpression: '*12-12*.json'\n};\nreturn msg;","outputs":1,"noerr":0,"x":495.1999969482422,"y":211,"wires":[["bfbc84ce.404378"]]},{"id":"d03985fa.2fc678","type":"inject","z":"f0a3c2ce.0f5c4","name":"Test ReST Translate File","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":165.1999969482422,"y":144,"wires":[["51db6579.ae249c"]]},{"id":"d1ffd2d9.2e003","type":"http request","z":"f0a3c2ce.0f5c4","name":"","method":"use","ret":"txt","url":"","x":820.1999969482422,"y":144,"wires":[["cedb329a.3124d"]]},{"id":"cedb329a.3124d","type":"debug","z":"f0a3c2ce.0f5c4","name":"","active":true,"console":"false","complete":"false","x":1104.1999969482422,"y":145,"wires":[]},{"id":"51db6579.ae249c","type":"function","z":"f0a3c2ce.0f5c4","name":"POST Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/TwitterHashtagClusterer/translateFileToGeoTweet';\nmsg.payload = {\n    path: '/home/jreeme/src/hashTagClustering/raw_tweet_data/real-json/2015-12-12_23:22:03.137328.real.json'\n};\nreturn msg;","outputs":1,"noerr":0,"x":481.1999969482422,"y":144,"wires":[["d1ffd2d9.2e003"]]},{"id":"cc9992b7.33667","type":"inject","z":"f0a3c2ce.0f5c4","name":"Index GeoTweets by Hashtag","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":204.1999969482422,"y":343,"wires":[["63380541.9cc7fc"]]},{"id":"67dea1dc.98216","type":"http request","z":"f0a3c2ce.0f5c4","name":"","method":"use","ret":"txt","url":"","x":859.1999969482422,"y":343,"wires":[["44e02780.bb1fd8"]]},{"id":"44e02780.bb1fd8","type":"debug","z":"f0a3c2ce.0f5c4","name":"","active":true,"console":"false","complete":"false","x":1143.1999969482422,"y":344,"wires":[]},{"id":"63380541.9cc7fc","type":"function","z":"f0a3c2ce.0f5c4","name":"POST Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/TwitterHashtagClusterer/indexGeoTweetsByHashtag';\nmsg.payload = {\n    limit: 400\n};\nreturn msg;","outputs":1,"noerr":0,"x":520.1999969482422,"y":343,"wires":[["67dea1dc.98216"]]},{"id":"b3676843.4c9898","type":"inject","z":"f0a3c2ce.0f5c4","name":"Cluster Hashtags","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":187.1999969482422,"y":436,"wires":[["c28f22c2.3d70e"]]},{"id":"bb8df2fb.44721","type":"http request","z":"f0a3c2ce.0f5c4","name":"","method":"use","ret":"txt","url":"","x":842.1999969482422,"y":436,"wires":[["c78cd332.38733"]]},{"id":"c78cd332.38733","type":"debug","z":"f0a3c2ce.0f5c4","name":"","active":true,"console":"false","complete":"false","x":1126.1999969482422,"y":437,"wires":[]},{"id":"c28f22c2.3d70e","type":"function","z":"f0a3c2ce.0f5c4","name":"POST Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/TwitterHashtagClusterer/clusterHashtags';\nmsg.payload = {\n    minTweetCount: 2,\n    minUniqueUsers: 1,\n    dbscanTimeEpsilonMinutes: 1440,\n    dbscanTimeMinMembersInCluster: 2,\n    dbscanGeoEpsilonMeters: 5000,\n    dbscanGeoMinMembersInCluster: 2\n};\nreturn msg;","outputs":1,"noerr":0,"x":503.1999969482422,"y":436,"wires":[["bb8df2fb.44721"]]},{"id":"3998c38d.c6673c","type":"inject","z":"682ad7db.97d528","name":"Start ETL","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":169.0994415283203,"y":149.09091186523438,"wires":[["e661b02c.199e5"]]},{"id":"e661b02c.199e5","type":"function","z":"682ad7db.97d528","name":"ETL EntityExtract","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ETL/entityExtract';\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":423.0994110107422,"y":149.09091186523438,"wires":[["386ed470.c7912c"]]},{"id":"76bd848b.89427c","type":"debug","z":"682ad7db.97d528","name":"","active":true,"console":"false","complete":"payload","x":915.0994110107422,"y":148.09091186523438,"wires":[]},{"id":"386ed470.c7912c","type":"http request","z":"682ad7db.97d528","name":"","method":"use","ret":"txt","url":"","x":687.0994110107422,"y":150.09091186523438,"wires":[["76bd848b.89427c"]]}]