server/node-red/zoom-clustering.json
[{"type":"tab","id":"2802de5e.d7fd22","label":"Sheet 1"},{"id":"ce4a5be1.31b5a8","type":"inject","z":"2802de5e.d7fd22","name":"Get Events For Clusterer Input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":277,"y":350,"wires":[["2c8da7b2.d37258"]]},{"id":"eacdbcb9.15324","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":225,"y":520,"wires":[["a3d2bcea.5c2d4","14eab7cf.eb1548"]]},{"id":"2c8da7b2.d37258","type":"function","z":"2802de5e.d7fd22","name":"Get Events","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ZoomLevelEventClusterer/getEventsForClustererInput';\nmsg.payload = {\n    modelNames: ['HashtagEventsSource','SandboxEventsSource'],\n    endDate: '2015-08-19T09:40:00.000Z',\n    intervalDurationMinutes: 2,\n    intervalsAgo: 1\n};\nreturn msg;","outputs":1,"noerr":0,"x":225,"y":445,"wires":[["eacdbcb9.15324"]]},{"id":"d31321a7.2cece","type":"inject","z":"2802de5e.d7fd22","name":"Create Fake Events","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":214,"y":223,"wires":[["f9e0e942.061f18"]]},{"id":"1889e69a.e77619","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":775,"y":223,"wires":[["3af04825.c50fb8"]]},{"id":"3af04825.c50fb8","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"payload","x":982,"y":224,"wires":[]},{"id":"f9e0e942.061f18","type":"function","z":"2802de5e.d7fd22","name":"Create Fake Events","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ZoomLevelEventClusterer/createFakeEvents';\nmsg.payload = {\n    randomGeneratorSeed: 0xfecefece,\n    modelNames: ['HashtagEventsSource','SandboxEventsSource'],\n    sandboxEventSourceFile: '../../import/sandbox/exampleSandboxEventSource.json',\n    eventSources: ['hashtag','instagram'],\n    minPostDate: '2015-08-19T09:30:00.000Z',\n    maxPostDate: '2015-08-19T09:45:00.000Z',\n    eventCountMin: 100,\n    eventCountMax: 200\n};\nreturn msg;","outputs":1,"noerr":0,"x":496,"y":223,"wires":[["1889e69a.e77619"]]},{"id":"14eab7cf.eb1548","type":"function","z":"2802de5e.d7fd22","name":"Cluster Events","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ZoomLevelEventClusterer/clusterEvents';\nmsg.payload = JSON.parse(msg.payload);\nmsg.payload.zoomLevel = 3;\nmsg.payload.clusterCount = 2;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":603,"wires":[["677d5386.9882ac"]]},{"id":"1121266.feededa","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"payload","x":557,"y":681,"wires":[]},{"id":"677d5386.9882ac","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":226,"y":683,"wires":[["1121266.feededa","df4a987f.20b568"]]},{"id":"a3d2bcea.5c2d4","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"payload","x":562,"y":517,"wires":[]},{"id":"df4a987f.20b568","type":"function","z":"2802de5e.d7fd22","name":"Update Zoom Level","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ZoomLevelEventClusterer/updateZoomLevel';\nmsg.payload = JSON.parse(msg.payload);\n//msg.payload.zoomLevel = 3;\n//msg.payload.clusterCount = 2;\nreturn msg;","outputs":1,"noerr":0,"x":227,"y":778,"wires":[["5add66a8.a52298"]]},{"id":"5add66a8.a52298","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":213,"y":867,"wires":[["b664f0ee.499b1"]]},{"id":"b664f0ee.499b1","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"true","complete":"payload","x":582,"y":864,"wires":[]},{"id":"cdc015f5.323fe8","type":"inject","z":"2802de5e.d7fd22","name":"Generate Development Data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":211,"y":95,"wires":[["7fe3d649.801c28"]]},{"id":"6fbba04e.90446","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":772,"y":95,"wires":[["14272534.ebd8db"]]},{"id":"14272534.ebd8db","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"false","x":979,"y":96,"wires":[]},{"id":"7fe3d649.801c28","type":"function","z":"2802de5e.d7fd22","name":"Generate Development Data","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ZoomLevelEventClusterer/generateDevelopmentData';\nmsg.payload = {\n    randomGeneratorSeed: 0xfecefece,\n    minPostDate: '2015-08-19T09:20:00.000Z',\n    maxPostDate: '2015-08-19T09:45:00.000Z',\n    eventCountMin: 100,\n    eventCountMax: 200,\n    modelNames: ['HashtagEventsSource','SandboxEventsSource'],\n    eventSources: ['hashtag','instagram'],\n    //\n\n    endDate: '2015-08-19T09:40:00.000Z',\n    intervalDurationMinutes: 2,\n    totalIntervals: 5,\n    //\n    zoomLevelClusterCounts:[4,8,12,16,20]\n};\nreturn msg;","outputs":1,"noerr":0,"x":493,"y":95,"wires":[["6fbba04e.90446"]]},{"id":"73fc27a3.8c03d8","type":"inject","z":"2802de5e.d7fd22","name":"Create Zoom Levels","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":214,"y":158,"wires":[["82776fb.f7d889"]]},{"id":"a72f33c1.58d0d","type":"http request","z":"2802de5e.d7fd22","name":"","method":"use","ret":"txt","url":"","x":775,"y":158,"wires":[["fe7f48d7.0180b8"]]},{"id":"fe7f48d7.0180b8","type":"debug","z":"2802de5e.d7fd22","name":"","active":true,"console":"false","complete":"false","x":982,"y":159,"wires":[]},{"id":"82776fb.f7d889","type":"function","z":"2802de5e.d7fd22","name":"Create Zoom Levels","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/ZoomLevelEventClusterer/createZoomLevels';\nmsg.payload = {\n    modelNames: ['HashtagEventsSource','SandboxEventsSource'],\n    endDate: '2015-12-12T23:55:00.000Z',\n    intervalDurationMinutes: 1440,\n    totalIntervals: 1\n    //\n    //zoomLevelClusterCounts:[4,8,12,16,20]\n};\nreturn msg;","outputs":1,"noerr":0,"x":496,"y":158,"wires":[["a72f33c1.58d0d"]]}]