server/node-red/lib/flows/ReST Call
[{"id":"580178be.a7fe88","type":"inject","z":"6c2b6146.93d4a","name":"Test Twitter Client","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":299,"y":481,"wires":[["664f808c.99b08"]]},{"id":"34309ccd.cbcf64","type":"http request","z":"6c2b6146.93d4a","name":"","method":"use","ret":"txt","url":"","x":847,"y":481,"wires":[["a4d6e431.5b2918"]]},{"id":"a4d6e431.5b2918","type":"debug","z":"6c2b6146.93d4a","name":"","active":true,"console":"false","complete":"false","x":1108,"y":481,"wires":[]},{"id":"664f808c.99b08","type":"function","z":"6c2b6146.93d4a","name":"Twitter POST Prep","func":"msg.method = 'POST';\nmsg.url = 'http://localhost:' + context.global.port + '/testTwitter';\nmsg.payload = {\n    luv: 'in the afternoon'\n};\nreturn msg;","outputs":1,"noerr":0,"x":599,"y":481,"wires":[["34309ccd.cbcf64","bd4bfa25.42b408"]]},{"id":"bd4bfa25.42b408","type":"debug","z":"6c2b6146.93d4a","name":"","active":false,"console":"false","complete":"true","x":883,"y":603,"wires":[]}]